<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-shell/setup.html">lesson</a>.
  </p>
</div>

<div id="python-setup"> {% comment %} Start of 'Python' section.{% endcomment %}
  <h3>Python</h3>
  <p>
Python is great for general-purpose programming and is a popular language for scientific computing as well. Installing all of the packages required for this lessons individually can be a bit difficult, however, so we recommend the all-in-one installer Anaconda.</p>

<p>Regardless of how you choose to install it, please make sure you install Python version 3.x (e.g., Python 3.6 version). Also, please set up your Python environment at least a day in advance of the workshop. If you encounter problems with the installation procedure, ask your workshop organizers via e-mail for assistance so you are ready to go as soon as the workshop begins.
  </p>
  <p>
    Follow the instructions on
    the <a href="https://librarycarpentry.org/lc-python-intro/setup.html">lesson</a> to
    install Python on your system.
  </p>
 
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to install it and the data used in the lesson in the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson</a>.
  </p>
</div>


